{% import '_includes/forms' as forms %}

<form method="POST">
	{{ csrfInput() }}
	{{ actionInput('developion-core/settings/save') }}
	{{ hiddenInput('pluginHandle', handle) }}
	{% namespace 'settings' %}
		{% for key, setting in settings %}
			{{ forms.textField({
				first: loop.first,
				label: settings.getAttributeLabel(key),
				instructions: settings.getAttributeHint(key),
				attribute: key,
				id: key,
				name: key,
				value: setting ?? '',
				required: true,
				errors: settings.getErrors(key),
			}) }}
		{% endfor %}
	{% endnamespace %}

	<hr>
	
	<div id="plugin-footer">
		<div class="footer-right">
			<input {{ attr({
				type: 'submit',
				value: 'Save',
				class: 'btn submit'
			}) }}>
		</div>
	</div>
</form>